<?xml version="1.0" encoding="UTF-8"?>
<!-- The name of the product -->
<?define Name = "PabloDraw" ?>
<!-- The Description of the product -->
<?define Description = "An ANSI/ASCII/RIP/Text editor." ?>
<!-- The manufacturer, for setup package publisher and folder info -->
<?define Manufacturer = "Picoe Software Solutions" ?>
<!-- The version number of this setup package-->
<?define Version = "3.3.10" ?>
<!-- UpgradeCode must be unique and not changed once the first version of the program is installed. -->
<?define UpgradeCode = "dc30a6a5-e756-4440-b8cd-cc823d9de7a3" ?>
<!-- The name of the Cabinet -->
<?define CabName = "PabloDraw.cab" ?>

<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
  <Product Id="*"
           Language="1033"
           Name="$(var.Name)"
           Manufacturer="$(var.Manufacturer)"
           UpgradeCode="$(var.UpgradeCode)"
           Version="$(var.Version)">
    <Package InstallerVersion="200" Compressed="yes" InstallScope="perMachine" Platform="x64" Manufacturer="$(var.Manufacturer)" />

    <!--Application logo-->
    <Icon Id="PabloDraw.ico" SourceFile="$(var.PabloDraw.ProjectDir)\PabloDraw.ico" />

    <!--Document logo-->
    <Icon Id="PabloDrawDocument.ico" SourceFile="$(var.PabloDraw.ProjectDir)\PabloDraw-Document.ico" />

    <!--Application logo for Control Panel-->
    <Property Id="ARPPRODUCTICON" Value="PabloDraw.ico" />

    <!--Embed Cabinet into single msi file-->
    <Media Id="1" Cabinet="$(var.CabName)" EmbedCab="yes" />

    <MajorUpgrade DowngradeErrorMessage="A newer version of $(var.Name) is already installed." />

    <!--Main Feature for this Setup which can be found in Fragment Tag with ComponentGroupRef Id-->
    <Feature Id="ProductFeature" Title="$(var.Name)" Level="1">
      <!--Main application executable component-->
      <ComponentGroupRef Id="ProductComponents" />
      <!--Main application shortcut for Program Menu-->
      <ComponentRef Id="ApplicationShortcut" />
    </Feature>
  </Product>

  <Fragment>
    <Directory Id="TARGETDIR" Name="SourceDir">
      <Directory Id="ProgramFiles64Folder">
        <Directory Id="INSTALLFOLDER" Name="PabloDraw" />
      </Directory>
      <!--Create application folder in Program Menu-->
      <Directory Id="ProgramMenuFolder">
        <Directory Id="ApplicationProgramsFolder" Name="PabloDraw" />
      </Directory>
    </Directory>

  </Fragment>

  <Fragment>
    <ComponentGroup Id="ProductComponents" Directory="INSTALLFOLDER">
      <!-- TODO: Remove the comments around this Component element and the ComponentRef below in order to add resources to this installer. -->
      <Component Id="PabloDraw.exe" Win64="yes">
        <File Id="PabloDraw.exe" Source="$(var.PabloDraw.TargetPath)" ProcessorArchitecture="x64" />

        <Shortcut Id="startmenuShortcut" Directory="ProgramMenuFolder" Name="PabloDraw" Icon="PabloDraw.ico" IconIndex="0" WorkingDirectory="APPLICATIONFOLDER" Advertise="yes" />

        <!-- Capabilities keys for Vista/7 "Set Program Access and Defaults" -->
        <RegistryValue Root="HKLM" Key="SOFTWARE\PabloDraw\Capabilities" Name="ApplicationDescription" Value="$(var.Description)" Type="string" />
        <RegistryValue Root="HKLM" Key="SOFTWARE\PabloDraw\Capabilities" Name="ApplicationIcon" Value="[APPLICATIONFOLDER]PabloDraw.exe,0" Type="string" />
        <RegistryValue Root="HKLM" Key="SOFTWARE\PabloDraw\Capabilities" Name="ApplicationName" Value="$(var.Name)" Type="string" />
        <RegistryValue Root="HKLM" Key="SOFTWARE\PabloDraw\Capabilities\DefaultIcon" Value="[APPLICATIONFOLDER]PabloDraw.exe,1" Type="string" />
        <RegistryValue Root="HKLM" Key="SOFTWARE\PabloDraw\Capabilities\FileAssociations" Name=".ans" Value="PabloDraw.Document.Ansi" Type="string" />
        <RegistryValue Root="HKLM" Key="SOFTWARE\PabloDraw\Capabilities\MIMEAssociations" Name="text/x-ansi" Value="PabloDraw.Document.Ansi" Type="string" />
        <RegistryValue Root="HKLM" Key="SOFTWARE\PabloDraw\Capabilities\FileAssociations" Name=".rip" Value="PabloDraw.Document.Rip" Type="string" />
        <RegistryValue Root="HKLM" Key="SOFTWARE\PabloDraw\Capabilities\MIMEAssociations" Name="text/x-rip" Value="PabloDraw.Document.Rip" Type="string" />
        <RegistryValue Root="HKLM" Key="SOFTWARE\PabloDraw\Capabilities\shell\Open\command" Value="&quot;[APPLICATIONFOLDER]PabloDraw.exe&quot; &quot;%1&quot;" Type="string" />
        <RegistryValue Root="HKLM" Key="SOFTWARE\RegisteredApplications" Name="PabloDraw" Value="SOFTWARE\PabloDraw\Capabilities" Type="string" />

        <!-- App Paths to support Start,Run -> "PabloDraw" -->
        <RegistryValue Root="HKLM" Key="SOFTWARE\Microsoft\Windows\CurrentVersion\App Paths\PabloDraw.exe" Value="[!PabloDraw.exe]" Type="string" />
        <RegistryValue Root="HKLM" Key="SOFTWARE\Microsoft\Windows\CurrentVersion\App Paths\PabloDraw.exe" Name="Path" Value="[APPLICATIONFOLDER]" Type="string" />

        <!-- Extend to the "open with" list + Win7 jump menu pinning  -->
        <RegistryValue Root="HKLM" Key="SOFTWARE\Classes\Applications\PabloDraw.exe\SupportedTypes" Name=".ans" Value="" Type="string" />
        <RegistryValue Root="HKLM" Key="SOFTWARE\Classes\Applications\PabloDraw.exe\shell\open" Name="FriendlyAppName" Value="$(var.Name)" Type="string" />

        <!-- PabloDraw.Document.Ansi ProgID -->
        <RegistryValue Root="HKLM" Key="SOFTWARE\Classes\PabloDraw.Document.Ansi" Name="FriendlyTypeName" Value="ANSI Document" Type="string" />
        <ProgId Id="PabloDraw.Document.Ansi" Description="Ansi Document" Icon="PabloDrawDocument.ico" Advertise="yes">
          <Extension Id="ans">
            <Verb Id="open" Command="Open in PabloDraw" Argument="&quot;%1&quot;" />
            <MIME Advertise="yes" ContentType="text/x-ansi" Default="yes" />
          </Extension>
        </ProgId>
        <RegistryValue Root="HKLM" Key="SOFTWARE\Classes\SystemFileAssociations\.ans\shell\edit.PabloDraw.exe" Value="Edit with PabloDraw" Type="string" />
        <RegistryValue Root="HKLM" Key="SOFTWARE\Classes\SystemFileAssociations\.ans\shell\edit.PabloDraw.exe\command" Value="&quot;[APPLICATIONFOLDER]PabloDraw.exe&quot; /e &quot;%1&quot;" Type="string" />
      
        <!-- PabloDraw.Document.Rip ProgID -->
        <RegistryValue Root="HKLM" Key="SOFTWARE\Classes\PabloDraw.Document.Rip" Name="FriendlyTypeName" Value="RIP Document" Type="string" />
        <ProgId Id="PabloDraw.Document.Rip" Description="RIP Document" Icon="PabloDrawDocument.ico" Advertise="yes">
          <Extension Id="rip">
            <Verb Id="open" Command="Open in PabloDraw" Argument="&quot;%1&quot;" />
            <MIME Advertise="yes" ContentType="text/x-rip" Default="yes" />
          </Extension>
        </ProgId>
        <RegistryValue Root="HKLM" Key="SOFTWARE\Classes\SystemFileAssociations\.rip\shell\edit.PabloDraw.exe" Value="Edit with PabloDraw" Type="string" />
        <RegistryValue Root="HKLM" Key="SOFTWARE\Classes\SystemFileAssociations\.rip\shell\edit.PabloDraw.exe\command" Value="&quot;[APPLICATIONFOLDER]PabloDraw.exe&quot; /e &quot;%1&quot;" Type="string" />

        <!-- PabloDraw.Document.XBin ProgID -->
        <RegistryValue Root="HKLM" Key="SOFTWARE\Classes\PabloDraw.Document.XBin" Name="FriendlyTypeName" Value="XBin Document" Type="string" />
        <ProgId Id="PabloDraw.Document.XBin" Description="XBin Document" Icon="PabloDrawDocument.ico" Advertise="yes">
          <Extension Id="xb">
            <Verb Id="open" Command="Open in PabloDraw" Argument="&quot;%1&quot;" />
            <MIME Advertise="yes" ContentType="text/x-xbin" Default="yes" />
          </Extension>
        </ProgId>
        <RegistryValue Root="HKLM" Key="SOFTWARE\Classes\SystemFileAssociations\.xb\shell\edit.PabloDraw.exe" Value="Edit with PabloDraw" Type="string" />
        <RegistryValue Root="HKLM" Key="SOFTWARE\Classes\SystemFileAssociations\.xb\shell\edit.PabloDraw.exe\command" Value="&quot;[APPLICATIONFOLDER]PabloDraw.exe&quot; /e &quot;%1&quot;" Type="string" />

        <!-- PabloDraw.Document.Zip ProgID -->
        <RegistryValue Root="HKLM" Key="SOFTWARE\Classes\SystemFileAssociations\.zip\shell\view.PabloDraw.exe" Value="Open in PabloDraw" Type="string" />
        <RegistryValue Root="HKLM" Key="SOFTWARE\Classes\SystemFileAssociations\.zip\shell\view.PabloDraw.exe\command" Value="&quot;[APPLICATIONFOLDER]PabloDraw.exe&quot; &quot;%1&quot;" Type="string" />
      </Component>
      <Component Win64="yes">
        <File Source="$(var.PabloDraw.TargetPath).config" ProcessorArchitecture="x64" />
      </Component>
    </ComponentGroup>
  </Fragment>

  <Fragment>
    <Component Id="PabloDraw.Document.Ansi" Directory="INSTALLFOLDER" Guid="F5BC3888-EF40-4DFD-80D6-55089CFAA0AF" Win64="yes">
      <ProgId Id="PabloDraw.Document.Ansi" Description="ANSI Document">
        <Extension Id="ans" ContentType="text/x-ansi">
          <Verb Id="open" Command="Open" TargetFile="PabloDraw.exe" Argument="%1" />
        </Extension>
      </ProgId>

      <Condition><![CDATA[DEFAULTVIEWER=1]]></Condition>
    </Component>
    <Component Id="PabloDraw.Document.Rip" Directory="INSTALLFOLDER" Guid="1FD33D38-3C3C-470D-AC11-56436CC1C595" Win64="yes">
      <ProgId Id="PabloDraw.Document.Rip" Description="RIP Document">
        <Extension Id="rip" ContentType="text/x-rip">
          <Verb Id="open" Command="Open" TargetFile="PabloDraw.exe" Argument="%1" />
        </Extension>
      </ProgId>

      <Condition><![CDATA[DEFAULTVIEWER=1]]></Condition>
    </Component>

  </Fragment>

  <Fragment>
    <DirectoryRef Id="ApplicationProgramsFolder">
      <!--Create application shortcut in Program Menu-->
      <Component Id="ApplicationShortcut" Guid="*">
        <Shortcut Id="ApplicationStartMenuShortcut" Name="$(var.Name)" Description="$(var.Description)" Icon="PabloDraw.ico" Target="[#PabloDraw.exe]" WorkingDirectory="INSTALLFOLDER" />
        <!--Remove application shortcut from Program Menu on uninstall-->
        <RemoveFolder Id="ApplicationProgramsFolder" On="uninstall" />
        <!--Create application registry entry-->
        <RegistryValue Root="HKCU" Key="Software\Microsoft\$(var.Manufacturer)\$(var.Name)" Name="installed" Type="integer" Value="1" KeyPath="yes" />
      </Component>
    </DirectoryRef>
  </Fragment>
</Wix>
